<?xml version="1.0"?>
<configuration>
  <connectionStrings>
  </connectionStrings>

  <system.web>
    <compilation debug="true"  targetFramework="4.0" />
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add type="WebMonitor.UnhandledExceptionModule" name="UnhandledExceptionModule"/>
    </modules>
  </system.webServer>
</configuration>
